apiVersion: v1
kind: ServiceAccount
metadata:
  name: medsync-dashboard-admin-demo
  namespace: kubernetes-dashboard
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: medsync-dashboard-admin-demo-binding
subjects:
  - kind: ServiceAccount
    name: medsync-dashboard-admin-demo
    namespace: kubernetes-dashboard
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
